@using Elektrom.Utils
@model (List<(Prekes, Kategorijos, int)> items, Uzsakymai order, Naudotojai user, Adresai adress, Card card)
@{
    ViewData["Title"] = "Checkout - confirmation";
    Layout = "_ShoppingCartLayout";

    List<string> companies = new List<string>() { "DPD", "Omniva", "LP express" };
    bool shipping = false;
    if (companies.Contains(Model.order.Pristatymas)) shipping = true;

    string lastNumbers = "";
    if (Model.card.CardholdersName != null)
    {
        string numbers = Model.card.CardNumber.ToString();
        lastNumbers = numbers.Substring(numbers.Length - 4);
    }
}

<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center mb-4">
            <div class="bcca-breadcrumb">
                <div class="bcca-breadcrumb-item bcca-breadcrumb-current">Confirmation</div>
                <div class="bcca-breadcrumb-item bcca-breadcrumb-before">Payment</div>
                <div class="bcca-breadcrumb-item">Delivery</div>
                <div class="bcca-breadcrumb-item">User information</div>
                <div class="bcca-breadcrumb-item">Shopping Cart</div>
            </div>
        </div>
        <div class="row d-flex justify-content-center h-100">
            <div class="col-6">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="row mb-3">
                            <h2>Order Items</h2>
                        </div>
                        @foreach (var item in Model.items)
                        {
                            <div class="row mb-4 d-flex align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    @if (item.Item1.Nuotraukos.ToList().Count() == 0)
                                    {
                                        <img src="/images/default.png" class="img-fluid rounded-3">
                                    }
                                    else
                                    {
                                        <img src="/images/@(item.Item1.Nuotraukos.ToList()[0].Pavadinimas + "." + item.Item1.Nuotraukos.ToList()[0].Formatas)" class="img-fluid rounded-3">
                                    }
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3 flex-fill">
                                    <h6 class="text-muted">@item.Item2.Pavadinimas</h6>
                                    <h6 class="text-black mb-0">@item.Item1.Pavadinimas</h6>
                                </div>
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <h6 class="">Kiekis: @item.Item3</h6>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h6 class="" style="margin-left: auto;">€ @(Math.Round(item.Item1.Kainos.ToList()[0].Kaina * item.Item3, 2))</h6>
                                </div>
                            </div>

                            <hr class="my-4">
                        }
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="row text-center mb-3">
                            <h1>Order Details</h1>
                        </div>
                        <div class="row mb-3">
                            <h4>Personal information</h4>
                        </div>
                        <div class="row flex-container mb-3">
                            <div class="flex-child">
                                <h6 class="text-muted">First Name</h6>
                                <h6 class="text-black">@Model.user.Vardas</h6>
                            </div>
                            <div class="flex-child">
                                <h6 class="text-muted">Last Name</h6>
                                <h6 class="text-black">@Model.user.Pavarde</h6>
                            </div>
                        </div>
                        <div class="row flex-container mb-3">
                            <div class="flex-child">
                                <h6 class="text-muted">Email</h6>
                                <h6 class="text-black">@Model.user.Pastas</h6>
                            </div>
                            @if (Model.user.TelNumeris != null)
                            {
                                <div class="flex-child">
                                    <h6 class="text-muted">Phone number</h6>
                                    <h6 class="text-black">@Model.user.TelNumeris</h6>
                                </div>
                            }
                        </div>
                        @if (shipping == true)
                        {
                            <div class="row mb-2">
                                <h4>Shipping address</h4>
                            </div>
                            <div class="row mb-2">
                                <h6 class="text-black">Lithuania, Kaunas, Studentu 50, 51368</h6>
                                <h6 class="text-black"></h6>
                            </div>
                            <div class="row mb-2">
                                <h4>Courier</h4>
                            </div>
                            <div class="row mb-3">
                                <h6 class="text-black">@Model.order.Pristatymas: <span class="fw-bold">2-3 days</span></h6>
                            </div>
                        }
                        else
                        {
                            <div class="row mb-2">
                                <h4>Pick up</h4>
                            </div>
                            <div class="row mb-3">
                                <h6 class="text-black">@Model.order.Pristatymas</h6>
                            </div>
                        }

                        @if (lastNumbers == "")
                        {
                            <div class="row mb-2">
                                <h4>Payment</h4>
                            </div>
                            <div class="row mb-4">
                                <h6 class="text-black">Cash at delivery</h6>
                            </div>
                        }
                        else
                        {
                            <div class="row mb-2">
                                <h4>Card information</h4>
                            </div>
                            <div class="row mb-4">
                                <h6 class="text-black">@Model.card.CardholdersName, ************@lastNumbers</h6>
                            </div>
                        }
                        <div class="row mb-4">
                            <h3>Total amount: <span class="text-black">€161.99</span></h3>
                        </div>
                        <div>
                            <form action="CreateOrder" method="POST">
                                <button type="submit" class="btn btn-success w-100">Confirm And Pay</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>