@using Elektrom.Models
@model List<(Prekes, Kategorijos, int)>
@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "_ShoppingCartLayout";
}

<section class="">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="bcca-breadcrumb">
            <div class="bcca-breadcrumb-item">Confirmation</div>
            <div class="bcca-breadcrumb-item">Payment</div>
            <div class="bcca-breadcrumb-item">Delivery</div>
            <div class="bcca-breadcrumb-item">User information</div>
            <div class="bcca-breadcrumb-item bcca-breadcrumb-current">Shopping Cart</div>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2 mt-4" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                  </div>
                  <hr class="my-4">
                  @if (Model.Any())
                  {
                    @foreach (var item in Model)
                    {
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                @if (item.Item1.Nuotraukos.ToList().Count() == 0)
                                {
                                    <img src="/images/default.png" class="img-fluid rounded-3">
                                }
                                else
                                {
                                    <img src="/images/@(item.Item1.Nuotraukos.ToList()[0].Pavadinimas + "." + item.Item1.Nuotraukos.ToList()[0].Formatas)" class="img-fluid rounded-3">
                                }
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <h6 class="text-muted">@item.Item2.Pavadinimas</h6>
                                <h6 class="text-black mb-0">@item.Item1.Pavadinimas</h6>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <button class="btn btn-link px-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown(); $(this.parentNode.querySelector('input[type=number]')).trigger('change');">
                                    <i class="bi bi-dash"></i>
                                </button>

                                <input id="@item.Item1.IdPreke" min="1" max="@item.Item1.Kiekis" name="quantity" value="@item.Item3" type="number"
                                class="form-control form-control-sm quantity"/>

                                <button class="btn btn-link px-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp(); $(this.parentNode.querySelector('input[type=number]')).trigger('change');">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h6 class="mb-0" id="price_@item.Item1.IdPreke">€ @item.Item1.Kainos.ToList()[0].Kaina</h6>
                            </div>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end me-4">
                                <a href="Cart/Remove?id=@item.Item1.IdPreke" class="text-muted"><i class="bi bi-x-lg"></i></a>
                            </div>
                        </div>

                        <hr class="my-4">
                    }
                  }
                  else
                  {
                      <div class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col">
                            <h1 class="display-3">The shopping cart is empty!</h1>
                        </div>
                      </div>
                  }

                  <div class="pt-5">
                    <h6 class="mb-0"><a href="/" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase" id="count">Item quantity: @(Model.Sum(x => x.Item3))</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Discount code</h5>

                  <div class="mb-3">
                    <div class="form-outline">
                      <input type="text" id="form3Examplea2" class="form-control" />
                      <label class="form-label" for="form3Examplea2">Enter your code</label>
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5 id="total">€ @Math.Round(Model.Sum(x => x.Item1.Kainos.ToList()[0].Kaina * x.Item3), 2)</h5>
                  </div>

                  <a class="btn btn-success btn-block btn-lg text-decoration-none" href="Checkout/UserInformation">Continue to checkout</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".quantity").change((e) => {
                var id = e.target.id;
                var val = e.target.value;
                var prev = parseInt(e.target.dataset.prevValue) - 1;
                console.log(prev, parseInt(val))
                if (isNaN(prev))
                {
                    var direction = 'up';
                }
                else if (parseInt(val) > prev)
                {
                    var direction = 'up';
                }
                else
                {
                    var direction = 'down';
                }
                e.target.dataset.prevValue = parseInt(val);
                var itemPrice = $("#price_" + id).text().split(" ")[1];
                console.log(direction);
                if (direction == 'up') {
                    if (val != 1)
                    {
                        var totalPrice = Number($("#total").text().split(" ")[1]) + Number(itemPrice);
                    }
                    else if (val == 1 && prev == 1)
                    {
                        var totalPrice = Number(itemPrice);
                    }
                    
                }
                else {
                    if (Number($("#total").text().split(" ")[1]) != 0)
                    {
                        var totalPrice = Number($("#total").text().split(" ")[1]) - Number(itemPrice);
                    }
                    else
                    {
                        var totalPrice = 0;
                    }
                }
               
                $("#total").text("€ " + totalPrice.toFixed(2));
                $.get("Cart/Update?id=" + id + "&amount=" + val, function (data) {
                    console.log(data);
                });
            });
        });
    </script>
}